[Unit]
Description=Spotify Clock Client
After=multi-user.target

[Service]
EnvironmentFile=/usr/local/etc/spotify-clock
ExecStart=/bin/spotify-clock-client

[Install]
WantedBy=multi-user.target
