[Unit]
Description=Spotify Clock Client
After=multi-user.target

[Service]
Environment=CONFIG_PATH=<your-config-path>
ExecStart=/usr/bin/spotify-clock-client -l debug -i hw -p true -c ${CONFIG_PATH}
Restart=always
RestartSec=5s

[Install]
WantedBy=multi-user.target
